@import 'src/themes/themes';

.rsMathTestContent {
  	display: flex;
	flex-direction: column;
	gap: 16px;

	.inputGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;

		.rsButton {
			height: 40px;
		}
	}

	.answerValue {
		min-height: 80px;
	}

	.lucide {
		color: theme-var($neutralPurple300);
	}

	.currentProblem {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.rsLabel {
			color: theme-var($primaryOrange100);
		}

		background-color: theme-var($neutralPurple100);
		border-radius: 24px;
		padding: 16px;
	}

	.operationHeader {
		text-align: center;
		text-transform: capitalize;
		background-color: theme-var($primaryOrange100);
	}
}
