@import 'src/themes/reset';
@import 'src/themes/themes';
@import 'src/themes/label';
@import 'src/themes/button';

// Spread default theme into root
:root {
	@include spread-map($defaultTheme);
}

body {
	background: theme-var($neutralPurple300);
}

main, .headerBar {
	width: 90%;
	margin: 0 auto;
	padding: 8px;
	max-width: 480px;
}
