// These variables are mostly for making auto complete better

/* Font Weights */
$fwThin: 100;
$fwExtraLight: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
$fwBlack: 900;
$fwExtraBlack: 950;

// Map SCSS theme variables to CSS variables
$neutralWhite: --neutralWhite;
$neutralPurple100: --neutralPurple100;
$neutralPurple200: --neutralPurple200;
$neutralPurple300: --neutralPurple300;
$neutralPurple400: --neutralPurple400;
$neutralPurple500: --neutralPurple500;
$neutralBlack: --neutralBlack;

$primaryOrange100: --primaryOrange100;

//Misc
$success: --success;

$accentError: --accentError;
$accentErrorDark: --accentErrorDark;
$accentWarning: --accentWarning;
$accentWarningLight: --accentWarningLight;
$accentWarningDark: --accentWarningDark;
$accentInfo: --accentInfo;
$accentInfoLight: --accentInfoLight;
$accentSuccess: --accentSuccess;
$accentSuccessDark: --accentSuccessDark;

$transitionTime: --transitionTime;

//Z-Index
$mobileStepperZIndex: --mobileStepperZIndex;
$appBarZIndex: --appBarZIndex;
$tooltipZIndex: --tooltipZIndex;
$drawerZIndex: --drawerZIndex;
$modalZIndex: --modalZIndex;
$toastZIndex: --toastZIndex;

// Sizes
$navBarDesktopHeight: 88px;
