@import 'themes';
@import '_variables.scss';

.rsButton {
	font-family: var(--font-space-mono), monospace;
	font-size: 16px;
	line-height: 20px;
	font-weight: $fwBold;

	height: 40px;
	padding: 8px 16px;

	cursor: pointer;

	&.small {
		height: 36px;
		padding: 6px 16px;
	}

	&.fullWidth {
		width: 100%;
	}

	white-space: nowrap;
	border-radius: 0;

	&.containedPrimary {
		color: theme-var($neutralPurple100);
		background-color: theme-var($neutralPurple500);
		border-radius: 20px;
		position: relative;

		&:hover:enabled {
			color: theme-var($neutralWhite);
		}
		&:active:enabled {
			color: theme-var($neutralWhite);
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
			opacity: 0.5;
			background-image: unset;
			background-color: theme-var($neutralPurple300);
			color: theme-var($neutralBlack);
		}
	}
	&.outlinedPrimary {
		background: theme-var($neutralPurple300);
		border: 2px solid $neutralPurple100;
		border-radius: 20px;
		position: relative;

		&:hover {
			color: $neutralPurple300;
			background: theme-var($neutralPurple100);
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			opacity: 0.5;
			background-color: theme-var($neutralPurple300);
			color: theme-var($neutralBlack);
			cursor: not-allowed;
		}
	}
	&.textPrimary {
		color: theme-var($neutralWhite);
		background: none;
		border-radius: 20px;
		&:hover {
			color: #ff1e1e;
			background-image: theme-var($neutralBlack);
		}
		&:active {
			color: #ff1e1e;
			background: none;
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}

	&.containedSecondary {
		color: theme-var($neutralPurple100);
		background: theme-var($primaryOrange100);
		border-radius: 20px;
		position: relative;

		&:hover:enabled {
			color: theme-var($neutralWhite);
		}
		&:active:enabled {
			color: theme-var($neutralWhite);
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
			background-color: theme-var($primaryOrange100);
			color: theme-var($neutralBlack);
		}
	}
	&.outlinedSecondary {
		border: 2px solid theme-var($neutralPurple100);
		border-radius: 20px;
		position: relative;

		&:hover {
			color: theme-var($neutralPurple100);
			background: theme-var($neutralPurple500);
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
			border: 2px solid theme-var($neutralPurple100);
			color: theme-var($neutralPurple500);
		}
	}
	&.textSecondary {
		color: theme-var($neutralWhite);
		background: none;
		border-radius: 20px;
		&:hover {
			color: red;
			background-color: green;
		}
		&:active {
			color: theme-var($primaryOrange100);
			background: none;
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
			color: theme-var($neutralBlack);
		}
	}
	&.iconPrimary {
		padding: 8px;
		width: 40px;
		border-radius: 50%;
		background-color: theme-var($neutralBlack);
		.rsIcon {
			color: theme-var($neutralBlack);
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.iconSecondary {
		padding: 8px;
		width: 40px;
		min-width: 40px;
		border-radius: 50%;
		background: theme-var($neutralPurple100);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		border: 2px solid theme-var($primaryOrange100);

		.rsIcon {
			color: theme-var($primaryOrange100);
		}
		&:hover {
			background-clip: unset;
			-webkit-background-clip: unset;
			color: #ff1e1e;
			background: theme-var($primaryOrange100);
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
}
