@import 'themes';

html {
	font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

blockquote {
	/* prettier-ignore */
	quotes: "\201C" "\201D";
}

.rsLabel {
	font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
	color: theme-var($neutralPurple100);

	&.display1 {
		font-size: 72px;
		line-height: 80px;
	}

	&.display2 {
		font-size: 48px;
		line-height: 56px;
	}

	&.h1 {
		font-size: 40px;
		line-height: 48px;
		letter-spacing: 0.08em;
	}

	&.h2 {
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 0.08em;
	}

	&.h3 {
		font-size: 28px;
		line-height: 32px;
		letter-spacing: 0.08em;
	}

	&.h4 {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.08em;
	}

	&.h5 {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.08em;
	}

	&.h6 {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.08em;
	}

	&.subheader1 {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.08em;
	}

	&.subheader2 {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.08em;
	}

	&.body1 {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.08em;
	}

	&.body2 {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.08em;
	}

	&.caption1 {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.08em;
	}

	&.caption2 {
		font-size: 10px;
		line-height: 12px;
		letter-spacing: 0.08em;
	}

	&.overline {
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.06em;
	}

	&.button {
		font-family: 'Space Mono', monospace;
		font-size: 16px;
		line-height: 24px;
		font-weight: $fwBold;
	}

	&.required:after {
		content: '*';
		color: theme-var($accentError);
	}
}
