@import "themes";

// Stupid nextjs only exports from module scss files
// Exports are for use in Javascript
:export {
  // Neutral colors
  neutralWhite: theme-var($neutralWhite);
  neutralPurple100: theme-var($neutralPurple100);
  neutralPurple200: theme-var($neutralPurple200);
  neutralPurple300: theme-var($neutralPurple300);
  neutralPurple400: theme-var($neutralPurple400);
  neutralPurple500: theme-var($neutralPurple500);
  neutralBlack: theme-var($neutralBlack);

  // Primary colors
  primaryOrange100: theme-var($primaryOrange100);

  success: theme-var($success);
  accentError: theme-var($accentError);
  accentErrorDark: theme-var($accentErrorDark);
  accentWarning: theme-var($accentWarning);
  accentWarningLight: theme-var($accentWarningLight);
  accentWarningDark: theme-var($accentWarningDark);
  accentInfo: theme-var($accentInfo);
  accentInfoLight: theme-var($accentInfoLight);
  accentSuccess: theme-var($accentSuccess);
  accentSuccessDark: theme-var($accentSuccessDark);
}